.header {

    &__inner {
        padding: 78px 63px 78px 80px;
        margin: 0 auto;
        width: 1297px;
        height: 40px;
        @extend %flex;
    }

    &__inner-logo {
        width: 240px;
        height: 38px;
        background-image: url(../images/logo.svg);
        background-size: cover;
        
    }

    &__inner-btn {
        @extend %flexcent;
        width: 136px;
        height: 40px;
        border: 1px solid $p;
        box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.218778);
        border-radius: 20px;
        color: $p;
    }
    &__inner-btn:hover{
        color: $ph;
        transition: 1s;
        border-color: $ph;
    }
    
}

.start {

    &__inner {
        padding: 147px 90px 0 90px;
    }

    &__inner-content {
        max-width: 1117px;
        height: 1157px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__inner-title {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        margin-bottom: 26px;

    }

    &__inner-text {
        width: 600px;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 49px;
        text-align: center;
    }

    &__inner-btn {
        width: 400px;
        height: 80px;
        background-color: $p;
        box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
        border-radius: 40px;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: $w;
        @extend %flexcent;
    }
    &__inner-btn:hover{
        background-color: $ph;
        transition: 1s;
    }
    &__inner-picbig {
        position: absolute;
        left: -10px;
        top: 447px;
        background-image: url(../images/desktop-big.png);
        width: 980px;
        height: 620px;
    }

    &__inner-picsmall {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 340px;
        height: 522px;
        background-image: url(../images/desktop-small.png);
    }
}

.numbers {

    &__inner {
        padding: 120px 160px;
    }

    &__inner-content {
        max-width: 880px;
        height: 222px;
        @extend %flex;
    }

    &__inner-card {
        position: relative;
    }

    &__inner-icon {
        position: absolute;
    }

    &__inner-numeric {
        font-weight: 700;
        font-size: 96px;
        line-height: 144px;
        margin-top: 40px;
        margin-bottom: 2px;
    }

    &__inner-info {
        font-size: 24px;
        line-height: 36px;
        color: #808E9A;
    }
}

.grow {
    height: 841px;
    background-image: url(../images/grow-bg.png);
    padding: 165px 120px 116px 120px;

    &__inner-content {
        position: relative;
        width: 1200px;
        height: 560px;
        padding-top: 200px;

    }

    &__inner-title {
        @extend %title;
        margin-bottom: 28px;
    }

    &__inner-text {
        width: 528px;
    }

    &__inner-bg {
        position: absolute;
        top: 68px;
        right: 22px;
        width: 525px;
        height: 423px;
        background-image: url(../images/grow_together.png);
    }
}

.conversations {

    &__inner {
        padding: 58px 0;
    }

    &__inner-content {
        width: 1200px;
        height: 560px;
        @extend %flex;
        align-items: center;
    }

    &__inner-bg {
        width: 531px;
        height: 378px;
        background-image: url(../images/conversation-pic.png);
    }


    &__inner-title {
        @extend %title;
        margin-bottom: 26px;
    }

    &__inner-text {
        width: 520px;
    }
}

.users {
    height: 817px;
    background-image: url(../images/users-bg.png);
    padding: 124px 120px;

    &__innerr-content {
        width: 1200px;
        height: 573px;
        @extend %flex;
        align-items: center;
    }



    &__inner-title {
        @extend %title;
        margin-bottom: 26px;
    }

    &__inner-text {
        width: 520px;
    }

    &__inner-bg {
        width: 534px;
        height: 414px;
        background-image: url(../images/users-pic.png);
    }
}

.ready {
    padding: 135px 371px 135px 387px;
    margin-bottom: 43px;

    &__inner {
        width: 684px;
        height: 182px;

    }

    &__inner-title {
        @extend %title;
        margin-bottom: 42px;

    }

    &__inner-btn {
        margin: 0 149px 0 131px;
        width: 400px;
        height: 80px;
        box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
        border-radius: 40px;
        background-color: $p;
        color: $w;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        @extend %flexcent;
    }
    &__inner-btn:hover{
        background-color: $ph;
        transition: 1s;
    }
}

.footer {
    height: 720px;
    background-image: url(../images/footer-bg.png);
    padding: 280px 0 103px 0;
    position: relative;
    background-size: cover;

    &__inner {}

    &__inner-content {
        width: 1200px;
        height: 337px;
        @extend %flex;
    }

    &__inner-contacts {}

    &__inner-subscribe {}
}

.inner {

    &__contacts-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: 400px;
        background-image: url(../images/fologo.svg);
        
      
    }

    &__contacts-text {
        font-weight: 600;
        font-size: 14px;
        color: $w;
        width: 340px;
        margin-top: 65px;
        margin-bottom: 24px;
    }

    &__contacts-phone {
        margin-left: 40px;
        width: 222px;
        color: $w;
        position: relative;
        margin-bottom: 16px;
        img {
            position: absolute;
            left: -40px;
        }

    }

    &__contacts-email {
        position: relative;

        img {
            position: absolute;
            left: -40px;
        }

        margin-left: 40px;
        width: 208px;
        color: $w;
        margin-bottom: 80px;
    }
    &__contacts-icons{
        @extend %flex;
        width: 144px;
        height: 32px;
    }
    &__contacts-icon{
        
      
    }
    &__contacts-icon:hover {
        filter: invert(63%) sepia(34%) saturate(3657%) hue-rotate(150deg) brightness(100%) contrast(101%);
        transition: 1s;
        cursor: pointer;
    }
    

    &__subscribe-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: $w;
        margin-bottom: 16px;
    }

    &__subscribe-text {
        font-weight: 600;
        font-size: 14px;
        color: $w;
        width: 344px;
        margin-bottom: 40px;
    }

    &__subscribe-form {
        width: 520px;
        height: 48px;
        display: flex;

        input[type=email] {
            border: none;
            border-radius: 6px;
            width: 320px;
            height: 100%;
            background: $w;
            margin-right: 40px;
            padding: 12px 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: $d;
        }

        input[type=submit] {
            border: none;
            border-radius: 5px;
            background: $p;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: $w;
            width: 160px;
            height: 100%;
            cursor: pointer;
        }
        input[type=submit]:hover{
            background-color: $ph;
            transition: 1s;
        }
    }
}