@media (max-width:420px) {
    .box {
        max-width: 375px;
    }

    .container {
        padding: 0 24px;
    }

    .header {

        &__inner {
            padding: 24px;
            width: 327px;
            height: 24px;
        }

        &__inner-logo {
            width: 96px;
            height: 16px;
            background-image: url(../images/mobile/logo.svg);
        }

        &__inner-btn {
            width: 80px;
            height: 24px;
            font-size: 9.41177px;
            line-height: 13px;
            border-radius: 11.7647px;
        }

    }

    .start {


        &__inner {
            padding: 88px 0 0 0;
        }

        &__inner-content {
            max-width: 296px;
            height: 581px;
        }

        &__inner-title {
            width: 280px;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 24px;
            text-align: center;

        }

        &__inner-text {
            width: 296px;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 48px;
        }

        &__inner-btn {
            width: 200px;
            height: 40px;
            box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
            border-radius: 20px;
            font-size: 12px;
            line-height: 18px;
        }

        &__inner-picbig {
            position: absolute;
            left: 0px;
            top: 372px;
            background-image: url(../images/mobile/start-bg-big.svg);
            width: 279px;
            height: 174px;
        }

        &__inner-picsmall {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 93px;
            height: 149px;
            background-image: url(../images/mobile/start-bg-little.svg);
        }
    }

    .numbers {

        &__inner {
            padding: 120px 68px;
        }

        &__inner-content {
            max-width: 160px;
            height: 356px;
            display: inline-block;
        }

        &__inner-card {
            width: 160px;
            height: 142px;
            position: relative;
            margin-bottom: 88px;
        }

        &__inner-icon {
            img {
                width: 35px;
            }

            top: -40px;
            position: absolute;
        }

        &__inner-numeric {
            font-weight: 700;
            font-size: 60.9524px;
            line-height: 91px;
            margin-top: 40px;
            margin-bottom: 2px;

        }

        &__inner-info {
            font-size: 15.2381px;
            line-height: 23px;
            color: #808E9A;
        }
    }

    .grow {
        height: 763px;
        background-image: url(../images/mobile/growbg.png);
        padding: 180px 0px 133px 0px;

        &__inner-content {
            position: relative;
            width: 320px;
            height: 450px;
            padding-top: 320px;
            margin: 0 26px;

        }

        &__inner-title {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 16px;
            text-align: center;
        }

        &__inner-text {
            width: 320px;
            text-align: center;
        }

        &__inner-bg {
            top: 0px;
            right: 8px;
            width: 280px;
            height: 280px;
            background-image: url(../images/mobile/grow-pic.png);
        }
    }

    .conversations {

        &__inner {
            padding: 67px 0;
        }

        &__inner-content {
            width: 320px;
            height: 429px;
            display: inline-block;
            align-items: center;
        }

        &__inner-bg {
            width: 280px;
            height: 280px;
            margin: 0 auto 40px;
            background-image: url(../images/mobile/conversation-pic.png);
        }


        &__inner-title {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 16px;
            text-align: center;
        }

        &__inner-text {
            width: 320px;
            height: 63px;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
        }
    }

    .users {
        height: 808px;
        background-image: url(../images/mobile/users-bg.png);
        padding: 80px 24px 0;
        background-size: cover;

        &__innerr-content {
            width: 320px;
            height: 450px;
            display: inline-block;
            align-items: center;
            position: relative;
            padding-top: 320px;
        }



        &__inner-title {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 16px;
            text-align: center;
        }

        &__inner-text {
            width: 320px;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
        }

        &__inner-bg {
            position: absolute;
            top: 0;
            left: 20px;
            width: 280px;
            height: 280px;
            background-image: url(../images/mobile/users-pic.png);
        }
    }

    .ready {
        padding: 7px 16px;
        margin-bottom: 244px;

        &__inner {
            width: 344px;
            height: 152px;

        }

        &__inner-title {
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            margin-bottom: 40px;

        }

        &__inner-btn {
            margin: 0 72px 0;
            width: 200px;
            height: 40px;
            box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
            border-radius: 20px;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
        }
    }

    .footer {
        height: 840px;
        background-image: url(../images/mobile/footer-bg.png);
        padding: 108px 0px 46px 0px;
        position: relative;
        background-size: cover;

        &__inner {}

        &__inner-content {
            width: 320px;
            height: 685px;
            display: inline-block;
            position: relative;
        }

        &__inner-contacts {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &__inner-subscribe {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .inner {

        &__contacts-logo {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 32px;
            background-image: url(../images/mobile/logo-footer.png);


        }

        &__contacts-text {
            font-weight: 600;
            font-size: 14px;
            color: $w;
            width: 320px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        &__contacts-phone {
            margin-left: 40px;
            width: 222px;
            position: relative;
            margin-bottom: 16px;
            font-size: 14px;

            img {
                position: absolute;
                left: -40px;
            }

        }

        &__contacts-email {
            position: relative;
            font-size: 14px;
            img {
                position: absolute;
                left: -40px;
            }

            margin-left: 40px;
            width: 208px;
            color: $w;
            margin-bottom: 48px;
        }

        &__contacts-icons {
            @extend %flex;
            width: 144px;
            height: 32px;
        }

        &__contacts-icon {
            img {
                width: 24px;
                height: 24px;
            }
        }

        &__contacts-icon:hover {
            filter: invert(63%) sepia(34%) saturate(3657%) hue-rotate(150deg) brightness(100%) contrast(101%);
            transition: 1s;
            cursor: pointer;
        }


        &__subscribe-title {
            font-size: 20px;
            line-height: 30px;
        }

        &__subscribe-text {
            font-size: 14px;
            line-height: 24px;
            width: 320px;
            margin-bottom: 32px;
        }

        &__subscribe-form {
            width: 320px;
            height: 112px;
            display: inline-block;

            input[type=email] {
                width: 320px;
                height: 48px;
                margin-right: 0px;
                padding: 12px 16px;
                margin-bottom: 16px;
            }

            input[type=submit] {
                width: 160px;
                height: 48px;
                margin-left: 160px;
                margin-bottom: 104px;
            }

        }
    }
}