.inner__contacts-icons, .footer__inner-content, .users__innerr-content, .conversations__inner-content, .numbers__inner-content, .header__inner {
  display: flex;
  justify-content: space-between;
}

.ready__inner-btn, .start__inner-btn, .header__inner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ready__inner-title, .users__inner-title, .conversations__inner-title, .grow__inner-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.box {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #00252E;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

.header__inner {
  padding: 78px 63px 78px 80px;
  margin: 0 auto;
  width: 1297px;
  height: 40px;
}
.header__inner-logo {
  width: 240px;
  height: 38px;
  background-image: url(../images/logo.svg);
  background-size: cover;
}
.header__inner-btn {
  width: 136px;
  height: 40px;
  border: 1px solid #FF52C1;
  box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.218778);
  border-radius: 20px;
  color: #FF52C1;
}
.header__inner-btn:hover {
  color: #FF8ED7;
  transition: 1s;
  border-color: #FF8ED7;
}

.start__inner {
  padding: 147px 90px 0 90px;
}
.start__inner-content {
  max-width: 1117px;
  height: 1157px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.start__inner-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 26px;
}
.start__inner-text {
  width: 600px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 49px;
  text-align: center;
}
.start__inner-btn {
  width: 400px;
  height: 80px;
  background-color: #FF52C1;
  box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
  border-radius: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.start__inner-btn:hover {
  background-color: #FF8ED7;
  transition: 1s;
}
.start__inner-picbig {
  position: absolute;
  left: -10px;
  top: 447px;
  background-image: url(../images/desktop-big.png);
  width: 980px;
  height: 620px;
}
.start__inner-picsmall {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 340px;
  height: 522px;
  background-image: url(../images/desktop-small.png);
}

.numbers__inner {
  padding: 120px 160px;
}
.numbers__inner-content {
  max-width: 880px;
  height: 222px;
}
.numbers__inner-card {
  position: relative;
}
.numbers__inner-icon {
  position: absolute;
}
.numbers__inner-numeric {
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
  margin-top: 40px;
  margin-bottom: 2px;
}
.numbers__inner-info {
  font-size: 24px;
  line-height: 36px;
  color: #808E9A;
}

.grow {
  height: 841px;
  background-image: url(../images/grow-bg.png);
  padding: 165px 120px 116px 120px;
}
.grow__inner-content {
  position: relative;
  width: 1200px;
  height: 560px;
  padding-top: 200px;
}
.grow__inner-title {
  margin-bottom: 28px;
}
.grow__inner-text {
  width: 528px;
}
.grow__inner-bg {
  position: absolute;
  top: 68px;
  right: 22px;
  width: 525px;
  height: 423px;
  background-image: url(../images/grow_together.png);
}

.conversations__inner {
  padding: 58px 0;
}
.conversations__inner-content {
  width: 1200px;
  height: 560px;
  align-items: center;
}
.conversations__inner-bg {
  width: 531px;
  height: 378px;
  background-image: url(../images/conversation-pic.png);
}
.conversations__inner-title {
  margin-bottom: 26px;
}
.conversations__inner-text {
  width: 520px;
}

.users {
  height: 817px;
  background-image: url(../images/users-bg.png);
  padding: 124px 120px;
}
.users__innerr-content {
  width: 1200px;
  height: 573px;
  align-items: center;
}
.users__inner-title {
  margin-bottom: 26px;
}
.users__inner-text {
  width: 520px;
}
.users__inner-bg {
  width: 534px;
  height: 414px;
  background-image: url(../images/users-pic.png);
}

.ready {
  padding: 135px 371px 135px 387px;
  margin-bottom: 43px;
}
.ready__inner {
  width: 684px;
  height: 182px;
}
.ready__inner-title {
  margin-bottom: 42px;
}
.ready__inner-btn {
  margin: 0 149px 0 131px;
  width: 400px;
  height: 80px;
  box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
  border-radius: 40px;
  background-color: #FF52C1;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.ready__inner-btn:hover {
  background-color: #FF8ED7;
  transition: 1s;
}

.footer {
  height: 720px;
  background-image: url(../images/footer-bg.png);
  padding: 280px 0 103px 0;
  position: relative;
  background-size: cover;
}
.footer__inner-content {
  width: 1200px;
  height: 337px;
}
.inner__contacts-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background-image: url(../images/fologo.svg);
}
.inner__contacts-text {
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  width: 340px;
  margin-top: 65px;
  margin-bottom: 24px;
}
.inner__contacts-phone {
  margin-left: 40px;
  width: 222px;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 16px;
}
.inner__contacts-phone img {
  position: absolute;
  left: -40px;
}
.inner__contacts-email {
  position: relative;
  margin-left: 40px;
  width: 208px;
  color: #FFFFFF;
  margin-bottom: 80px;
}
.inner__contacts-email img {
  position: absolute;
  left: -40px;
}
.inner__contacts-icons {
  width: 144px;
  height: 32px;
}
.inner__contacts-icon:hover {
  filter: invert(63%) sepia(34%) saturate(3657%) hue-rotate(150deg) brightness(100%) contrast(101%);
  transition: 1s;
  cursor: pointer;
}
.inner__subscribe-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.inner__subscribe-text {
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  width: 344px;
  margin-bottom: 40px;
}
.inner__subscribe-form {
  width: 520px;
  height: 48px;
  display: flex;
}
.inner__subscribe-form input[type=email] {
  border: none;
  border-radius: 6px;
  width: 320px;
  height: 100%;
  background: #FFFFFF;
  margin-right: 40px;
  padding: 12px 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #00252E;
}
.inner__subscribe-form input[type=submit] {
  border: none;
  border-radius: 5px;
  background: #FF52C1;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  width: 160px;
  height: 100%;
  cursor: pointer;
}
.inner__subscribe-form input[type=submit]:hover {
  background-color: #FF8ED7;
  transition: 1s;
}

@media (max-width: 420px) {
  .box {
    max-width: 375px;
  }
  .container {
    padding: 0 24px;
  }
  .header__inner {
    padding: 24px;
    width: 327px;
    height: 24px;
  }
  .header__inner-logo {
    width: 96px;
    height: 16px;
    background-image: url(../images/mobile/logo.svg);
  }
  .header__inner-btn {
    width: 80px;
    height: 24px;
    font-size: 9.41177px;
    line-height: 13px;
    border-radius: 11.7647px;
  }
  .start__inner {
    padding: 88px 0 0 0;
  }
  .start__inner-content {
    max-width: 296px;
    height: 581px;
  }
  .start__inner-title {
    width: 280px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
    text-align: center;
  }
  .start__inner-text {
    width: 296px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 48px;
  }
  .start__inner-btn {
    width: 200px;
    height: 40px;
    box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
    border-radius: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .start__inner-picbig {
    position: absolute;
    left: 0px;
    top: 372px;
    background-image: url(../images/mobile/start-bg-big.svg);
    width: 279px;
    height: 174px;
  }
  .start__inner-picsmall {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 93px;
    height: 149px;
    background-image: url(../images/mobile/start-bg-little.svg);
  }
  .numbers__inner {
    padding: 120px 68px;
  }
  .numbers__inner-content {
    max-width: 160px;
    height: 356px;
    display: inline-block;
  }
  .numbers__inner-card {
    width: 160px;
    height: 142px;
    position: relative;
    margin-bottom: 88px;
  }
  .numbers__inner-icon {
    top: -40px;
    position: absolute;
  }
  .numbers__inner-icon img {
    width: 35px;
  }
  .numbers__inner-numeric {
    font-weight: 700;
    font-size: 60.9524px;
    line-height: 91px;
    margin-top: 40px;
    margin-bottom: 2px;
  }
  .numbers__inner-info {
    font-size: 15.2381px;
    line-height: 23px;
    color: #808E9A;
  }
  .grow {
    height: 763px;
    background-image: url(../images/mobile/growbg.png);
    padding: 180px 0px 133px 0px;
  }
  .grow__inner-content {
    position: relative;
    width: 320px;
    height: 450px;
    padding-top: 320px;
    margin: 0 26px;
  }
  .grow__inner-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
    text-align: center;
  }
  .grow__inner-text {
    width: 320px;
    text-align: center;
  }
  .grow__inner-bg {
    top: 0px;
    right: 8px;
    width: 280px;
    height: 280px;
    background-image: url(../images/mobile/grow-pic.png);
  }
  .conversations__inner {
    padding: 67px 0;
  }
  .conversations__inner-content {
    width: 320px;
    height: 429px;
    display: inline-block;
    align-items: center;
  }
  .conversations__inner-bg {
    width: 280px;
    height: 280px;
    margin: 0 auto 40px;
    background-image: url(../images/mobile/conversation-pic.png);
  }
  .conversations__inner-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
    text-align: center;
  }
  .conversations__inner-text {
    width: 320px;
    height: 63px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  .users {
    height: 808px;
    background-image: url(../images/mobile/users-bg.png);
    padding: 80px 24px 0;
    background-size: cover;
  }
  .users__innerr-content {
    width: 320px;
    height: 450px;
    display: inline-block;
    align-items: center;
    position: relative;
    padding-top: 320px;
  }
  .users__inner-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
    text-align: center;
  }
  .users__inner-text {
    width: 320px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  .users__inner-bg {
    position: absolute;
    top: 0;
    left: 20px;
    width: 280px;
    height: 280px;
    background-image: url(../images/mobile/users-pic.png);
  }
  .ready {
    padding: 7px 16px;
    margin-bottom: 244px;
  }
  .ready__inner {
    width: 344px;
    height: 152px;
  }
  .ready__inner-title {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
  .ready__inner-btn {
    margin: 0 72px 0;
    width: 200px;
    height: 40px;
    box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
    border-radius: 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
  }
  .footer {
    height: 840px;
    background-image: url(../images/mobile/footer-bg.png);
    padding: 108px 0px 46px 0px;
    position: relative;
    background-size: cover;
  }
  .footer__inner-content {
    width: 320px;
    height: 685px;
    display: inline-block;
    position: relative;
  }
  .footer__inner-contacts {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .footer__inner-subscribe {
    position: absolute;
    top: 0;
    left: 0;
  }
  .inner__contacts-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 32px;
    background-image: url(../images/mobile/logo-footer.png);
  }
  .inner__contacts-text {
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    width: 320px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .inner__contacts-phone {
    margin-left: 40px;
    width: 222px;
    position: relative;
    margin-bottom: 16px;
    font-size: 14px;
  }
  .inner__contacts-phone img {
    position: absolute;
    left: -40px;
  }
  .inner__contacts-email {
    position: relative;
    font-size: 14px;
    margin-left: 40px;
    width: 208px;
    color: #FFFFFF;
    margin-bottom: 48px;
  }
  .inner__contacts-email img {
    position: absolute;
    left: -40px;
  }
  .inner__contacts-icons {
    width: 144px;
    height: 32px;
  }
  .inner__contacts-icon img {
    width: 24px;
    height: 24px;
  }
  .inner__contacts-icon:hover {
    filter: invert(63%) sepia(34%) saturate(3657%) hue-rotate(150deg) brightness(100%) contrast(101%);
    transition: 1s;
    cursor: pointer;
  }
  .inner__subscribe-title {
    font-size: 20px;
    line-height: 30px;
  }
  .inner__subscribe-text {
    font-size: 14px;
    line-height: 24px;
    width: 320px;
    margin-bottom: 32px;
  }
  .inner__subscribe-form {
    width: 320px;
    height: 112px;
    display: inline-block;
  }
  .inner__subscribe-form input[type=email] {
    width: 320px;
    height: 48px;
    margin-right: 0px;
    padding: 12px 16px;
    margin-bottom: 16px;
  }
  .inner__subscribe-form input[type=submit] {
    width: 160px;
    height: 48px;
    margin-left: 160px;
    margin-bottom: 104px;
  }
}/*# sourceMappingURL=style.css.map */